body {
    text-align: center;
}

.swiper-container {
    width: 350px;
    height: 200px;
    margin: 70px;
}
.swiper-container img {
    width: 200px;
}
    

.header {
    background-color: rgb(252, 186, 7);
    height:60px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lemonchiffon;
}

.header-logo {
    font-size: 20px;
    float: left;
    padding:15px 20px;
}
.header-list li a{
    color: lemonchiffon;
    font-size: 80%;
    list-style: none;
    float:left;
    padding:22px 10px;
}
.header-list li a:hover {
    color:salmon;
    cursor: pointer;
}

.main {
    height:auto;
}

small {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:slategray;
}

.footer {
    background-color: cornsilk;
    height:100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
}
.footer-logo {
    color: navy;
    font-size: 20px;
    padding:20px 30;
    float:left;
}
.footer-list li a{
    color:navy;
    float:right;
    padding-right: 50px;
}
.footer-list li a:hover {
    color:skyblue;
    cursor: pointer;
}

h1 {
    color: rgb(252, 116, 4);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:40px;
    padding-left: 40px;
}

.copy-container p {
    color: rgb(255, 6, 6);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding-left: 40px;
}

ul {
    list-style: none;
    padding-left: 0;
}
.contents {
    margin: auto;
}

.contents-item ul {
    float: left;
}
.contents-item li {
    width:300px;
    margin: 30px;
    display:inline-flex;
}

.contents-item p {
    color: rgb(10, 7, 161);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.contents img{
    height:200px;
    width:auto;
    box-shadow: 2px 5px 6px gray;
}

a:hover img {
    opacity: 0.6;
    box-shadow: none;
}

#close {
    float:right;
    margin:20px 30px;
    color:lightsalmon;
    background:wheat;
    border:solid 1px white;
}
#close:hover {
    background: lightsalmon;
    color: lightgoldenrodyellow;
    cursor:pointer;
}
