body {
    text-align: center;
    background-color:rgb(102, 193, 205);
}

h1 {
    color:lemonchiffon;
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    margin: 50px;
}

ul {
    padding-left: 0;
    margin: auto;
}

.contents-item li {
    width:300px;
    margin: 30px;
    display:inline-flex;
}

.contents-item img {
    height: 200px;
    width: auto;
    padding-top: 30px;
}

.contents-item p {
    color:gainsboro;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

a:hover img {
    opacity: 0.6;
}

a {
    color:dodgerblue ;
    font-family:'Times New Roman', Times, serif;
    padding: 40px;
}