body {
    text-align: center;
    margin: auto;
    background-color: cadetblue;
    width:70%;
}

h1 {
    color: rgb(247, 248, 210);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
}

a {
    color:green;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 10px;
}

.contents {
    padding-bottom: 40px;
    height:auto;
}

.contents-item {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

.contents-item li {
    margin: 20px;
    width:200px;
    text-align: center;
    margin: 20px;
}

.contents-item img {
    height: 200px;
}
.contents-item p {
    color:gainsboro;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}