body {
    text-align: center;
    margin: auto;
    background-color:darkseagreen;
    width: 80%;
}

h1 {
    color: rgb(249, 252, 184);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:50px;
}

.message {
    color:bisque;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    padding:40px 10px;

}

.contents {
    padding: 30px 0px;
    height:auto;
}

.contents-item {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

.contents-item li {
    margin: 20px;
    width:200px;
    text-align: center;
    margin: 20px;
}

.modalOpen {
    margin:0;
    padding: 0;
    text-align: center;
}

.contents-item img {
    height: 200px;
}

.contents-item p {
    color: gainsboro;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}

.modalClose {
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-size: 20px;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) scale(.9);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.modal img {
    height: 400px;
    width: auto;
}

.modal-contents-item {
    list-style: none;
}

.mask {
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.modal.acutive {
    opacity: 1;
    visibility: visible;
    transform:translate(-50%,-50%) scale(1);
}

.mask.acutive {
    opacity: 0.7;
    visibility: visible;
}
