body {
    background-color:rgb(253, 219, 225);
    text-align: center;
}

h1 {
    color:rgb(221, 0, 92);
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 40px;
}

/*.copy-container {
    text-align: center;
    color: indianred;
    font-family: cursive;
    font-size: 20px;
}*/

ul {
    list-style: none;
    padding-left: 0;
}
li {
    width:fit-content;
    height: auto;
    padding: 10px;
    margin: 10px;
}
.contents-item {
    width:730px;
    margin: auto;
    overflow: hidden;
}

.contents-item li {
    float: left;
}

.contents-item img {
    height: 200px;
    width: auto;
}
.contents-item p {
    color: slategrey;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}

a {
    padding: 50px;
    color: lightcoral;
    font-family: cursive;
}