body {
    background-color:rgb(253, 219, 225);
    text-align: center;

}

h1 {
    color:rgb(221, 0, 92);
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 40px;
}

ul {
    list-style: none;
    margin: auto;
}

li {
    width: fit-content;
    height: auto;
    padding: 10px;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding-bottom: 40px;;
}

.contents-item {
    text-align: center;
    display: inline-flex;
}

.contents-item li {
    float: left;
}

.contents-item img {
    height: 200px;
    width: auto;
}
.contents-item p {
    color: slategrey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}
a {
    padding: 50px;
    color: lightcoral;
    font-family:'Times New Roman', Times, serif;
}